<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sudoku Solver</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Sudoku Solver</h1>
      <div class="row">

        <div class="col-md-6">
          <table id="sudoku"></table>
        </div>

        <div class="col-md-6">
          <form class="form-inline" id="sudoku-form">

            <div class="row">
              <div class="form-group col-xs-6">
                <label for="iterationsLimit">Iterations Limit:</label>
                <input type="text" class="form-control" id="iterationsLimit" name="iterationsLimit">
              </div>
              <div class="form-group col-xs-6">
                <label for="employedBees">Employed Bees:</label>
                <input type="text" class="form-control" id="employedBees" name="employedBees">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-xs-6">
                <label for="onlookerBees">Onlooker Bees:</label>
                <input type="text" class="form-control" id="onlookerBees" name="onlookerBees">
              </div>
              <div class="form-group col-xs-6">
                <label for="scoutBees">Scout Bees:</label>
                <input type="text" class="form-control" id="scoutBees" name="scoutBees">
              </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Execute</button>

          </form>

          <canvas id="chart" width="100%" height="100%" style="display: none"></canvas>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="/static/sudoku.js"></script>
    <script src="/static/demo.js"></script>
    <script src="/static/dataHandler.js"></script>
  </body>
</html>
